.App {
  text-align: center;
}

.link-beer-list {
  text-decoration: none;
}

.beer-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

.beer-item-list img {
  width: 4em;
}
